<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="winphpthumbcache">
                    <match url="^phpThumb.php$"  />
                    <action type="Rewrite" url="_phpThumb.php"  appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
